 .grade:active {
    text-decoration: underline;
 }

 .plan-item {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .plan-item-dismiss {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }


.square {
    width: 15rem;
    height: 15rem;
  }

.price {
    /* position: absolute; */
    /* bottom: 0; */
}

.button {
  position: absolute;
  bottom: 0;
  padding: '2px'
}

.register-title{
 text-align: center;
  width: 100%;
}

.label{
width: 200px;
}

.form-control{
width: 100%;
display: flex;
justify-content: center;
}

.register-container{
position: absolute;
left: 50%;
transform: translate(-50%, 50%);
}

.register-input {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}